.root {
	-webkit-overflow-scrolling: touch;

	header {
		--mdc-theme-primary: white;
	}

	.mdc-list-group {
		height: inherit;
		display: flex;
		flex-direction: column;
	}

	.drawer-app-content {
		flex: auto;
		overflow: auto;
	}
}
