.container-projects {
	padding-bottom: 5vh;
	.mdc-layout-grid__inner {
		margin-top: 8px;
	}

	.mdc-layout-grid__cell {
		box-shadow: 0 0 4px 2px var(--gray-4);
		border-radius: 5px;
		padding: 8px 14px;
		height: fit-content;
	}
}
