.cell-list {
	display: flex;
	flex-direction: column;
	.cell-item {
		background-color: #fff;
		width: 100%;
		padding: 8px 0;

		.icon,
		.avatar {
			margin-right: 8px;
			min-width: 3.25rem;
			height: 3.25rem;
		}

		.item-content {
			display: flex;
			flex: 1;
			position: relative;
			.time-line {
				position: absolute;
				bottom: 4px;
				right: 4px;
				z-index: 1;
				&::after {
					content: '';
					position: absolute;
					bottom: -2px;
					right: -2px;
					background-color: var(--geekblue-4);
					height: 0.625rem;
					width: 120%;
					z-index: -1;
					transform: skew(-12deg);
				}
			}
		}

		.item-info {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: space-between;
		}

		.item-container {
			padding-top: 8px;
			margin-top: 8px;
		}

		& + .cell-item {
			margin-top: 8px;
			border-top: 1px solid #e9e9ed;
		}
	}
}

.mdc-data-table {
	background-color: var(--mdc-theme-surface, #fff);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	display: inline-flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: auto;
}

.mdc-data-table__table {
	width: 100%;
	border: 0;
	white-space: nowrap;
	border-collapse: collapse;
}

.mdc-data-table__content {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	text-decoration: inherit;
	text-transform: inherit;
}

.mdc-data-table__header-row {
	height: 56px;
}

.mdc-data-table__row {
	height: 52px;
	border-top-color: rgba(0, 0, 0, 0.12);
	border-top-width: 1px;
	border-top-style: solid;
}

.mdc-data-table__cell {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	text-decoration: inherit;
	text-transform: inherit;
}

.mdc-data-table__cell--numeric {
	text-align: end;
}

.mdc-data-table__header-cell {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.0071428571em;
	text-decoration: inherit;
	text-transform: inherit;
	text-align: left;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
	padding-right: 16px;
	padding-left: 16px;
	color: rgba(0, 0, 0, 0.87);
}

.card.hairlines {
	border-radius: 24px 8px;
	overflow: hidden;
	.card-content {
		height: 100px;
		display: flex;
		flex-direction: column;
		.desc {
			flex-grow: 1;
			overflow: hidden;
			max-height: fit-content;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.actions {
			display: flex;
			align-items: flex-end;
			padding-bottom: 8px;
			padding-left: 8px;
			padding-right: 12px;
		}
	}
}

.subtitle {
	text-indent: 8px;
	position: relative;
	padding: 4px 0;
	margin: 4px 0;
	display: flex;
	align-items: center;
	&::before {
		content: '';
		position: absolute;
		left: -2px;
		top: 29%;
		height: 42%;
		width: 2px;
		background-color: var(--mdc-theme-primary);
	}
	&::after {
		content: '';
		position: absolute;
		left: 2px;
		top: 29%;
		height: 42%;
		width: 2px;
		background-color: var(--mdc-theme-primary);
	}
}

.mdc-dialog__container {
	.dialog-close {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 8;
	}
}
