// 文字中划线
.text-through {
	text-decoration: line-through;
}

.text-center {
	text-align: center;
}

.text-end {
	text-align: end !important;
}

.indent {
	text-indent: 12px;
}

.absolute {
	position: absolute !important;
}

.fixed {
	position: fixed !important;
}

.flex {
	display: flex;
}

.fill {
	flex: 1;
}

.column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-evenly {
	justify-content: space-evenly;
}

.row {
	@extend .flex;
}

.col {
	@extend .fill;
}

.header-title {
	@extend .text-center;
	@extend .large;
	@extend .bold;
}
