body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
		'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	background-color: #fff;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h6 {
	margin: 0;
}

p {
	line-height: 1.8;
	margin: 0;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

:root {
	--mdc-theme-primary: #2f54eb;
	--mdc-theme-on-primary: #5f6368;
	/* light */
	--geekblue-1: #f0f5ff;
	--geekblue-2: #d6e4ff;
	--geekblue-3: #adc6ff;
	--geekblue-4: #85a5ff;
	--geekblue-5: #597ef7;
	/* dark */
	--geekblue-6: #2f54eb;
	--geekblue-7: #1d39c4;
	--geekblue-8: #10239e;
	--geekblue-9: #061178;
	--geekblue-10: #030852;
	/** secondary **/
	--mdc-theme-secondary: #0cd1e8;
	--mdc-theme-secondary-rgb: 12, 209, 232;
	--mdc-theme-secondary-contrast: #ffffff;
	--mdc-theme-secondary-contrast-rgb: 255, 255, 255;
	--mdc-theme-secondary-shade: #0bb8cc;
	--mdc-theme-secondary-tint: #24d6ea;

	/** tertiary **/
	--mdc-theme-tertiary: #7044ff;
	--mdc-theme-tertiary-rgb: 112, 68, 255;
	--mdc-theme-tertiary-contrast: #ffffff;
	--mdc-theme-tertiary-contrast-rgb: 255, 255, 255;
	--mdc-theme-tertiary-shade: #633ce0;
	--mdc-theme-tertiary-tint: #7e57ff;

	/** success **/
	--mdc-theme-success: #10dc60;
	--mdc-theme-success-rgb: 16, 220, 96;
	--mdc-theme-success-contrast: #ffffff;
	--mdc-theme-success-contrast-rgb: 255, 255, 255;
	--mdc-theme-success-shade: #0ec254;
	--mdc-theme-success-tint: #28e070;

	/** warning **/
	--mdc-theme-warning: #ffce00;
	--mdc-theme-warning-rgb: 255, 206, 0;
	--mdc-theme-warning-contrast: #ffffff;
	--mdc-theme-warning-contrast-rgb: 255, 255, 255;
	--mdc-theme-warning-shade: #e0b500;
	--mdc-theme-warning-tint: #ffd31a;

	/** danger **/
	--mdc-theme-danger: #f04141;
	--mdc-theme-danger-rgb: 245, 61, 61;
	--mdc-theme-danger-contrast: #ffffff;
	--mdc-theme-danger-contrast-rgb: 255, 255, 255;
	--mdc-theme-danger-shade: #d33939;
	--mdc-theme-danger-tint: #f25454;

	/** dark **/
	--mdc-theme-dark: #222428;
	--mdc-theme-dark-rgb: 34, 34, 34;
	--mdc-theme-dark-contrast: #ffffff;
	--mdc-theme-dark-contrast-rgb: 255, 255, 255;
	--mdc-theme-dark-shade: #1e2023;
	--mdc-theme-dark-tint: #383a3e;

	/** medium **/
	--mdc-theme-medium: #989aa2;
	--mdc-theme-medium-rgb: 152, 154, 162;
	--mdc-theme-medium-contrast: #ffffff;
	--mdc-theme-medium-contrast-rgb: 255, 255, 255;
	--mdc-theme-medium-shade: #86888f;
	--mdc-theme-medium-tint: #a2a4ab;

	/** light **/
	--mdc-theme-light: #f4f5f8;
	--mdc-theme-light-rgb: 244, 244, 244;
	--mdc-theme-light-contrast: #000000;
	--mdc-theme-light-contrast-rgb: 0, 0, 0;
	--mdc-theme-light-shade: #d7d8da;
	--mdc-theme-light-tint: #f5f6f9;
}

$n: 8px;

@import './space';
@import './color';
@import './display';
@import './font';
@import './shadow';
@import './mixin';
@import './components';

@import '@material/react-button/index.scss';
@import '@material/react-chips/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-ripple/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-dialog/index.scss';
@import '@material/react-menu-surface/index.scss';
@import '@material/react-menu/index.scss';
@import '@material/react-select/index.scss';

// reset
input {
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	color: #3c4043;
	letter-spacing: 0.00625em;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.mdc-layout-grid {
	max-width: 1440px;
}

.mdc-button-shaped {
	border-radius: 18px !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--mdc-theme-primary);
}

.mdc-top-app-bar__title {
	color: var(--mdc-theme-on-primary, #5f6368);
}

.mdc-list-item__text,
.mdc-list-item__meta {
	outline: 0;
}
