.hover-card {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.04),
		2px 0 8px 2px rgba(0, 0, 0, 0.15), 0 0 4px 2px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	z-index: 2;
	transition: 0.25s ease-in-out;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		background-color: black;
		z-index: -1;
		transition: 0.25s ease-in-out;
	}

	&:hover {
		&::before {
			height: 100%;
		}
	}

	@for $i from 1 to 10 {
		&.hue-#{$i} {
			@if $i>5 {
				&:hover {
					color: white;
				}
			}
			&::before {
				background-color: var(--geekblue-#{$i});
			}
		}
	}
}
